exclude: ['_includes/notes_graph.json','_projects/Templates', '_events/Templates', 'blog.html', '_posts', '_notes/Comps Reading Notes']
permalink: pretty
use_html_extension:  true

collections: 
  team_members:
    output: true
  notes:
    output: true
    permalink: /:collection/:slug:output_ext
  projects:
    output: true
    permalink: /:collection/:slug:output_ext
  events:
    output: true
    permalink: /:collection/:slug:output_ext

defaults:
  - scope:
      path: ""
      type: "team_members"
    values:
      layout: "team_member"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
      type: "events"
    values:
      layout: "event"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"
  - scope:
      path: ""
    values:
      layout: "default"