---
title: DJ CIRC Events
---

<h1>Events</h1>

<h2>Current events</h2>
<div>
    {% assign events = site.events | where: 'short_name', 'current' %}
    {% for event in events %}
        <p>
            <a href="{{ event.url }}">{{ event.name }}</a> - {{ event.event_date | date_to_string }}<br>
            {{ event.time }}            
        </p>
        
    {% endfor %}
</div>

<h2>Past events</h2>
<div>
    {% assign events = site.events | where: 'short_name', 'past' %}
    {% for event in events %}
        <p>
            <a href="{{ event.url }}">{{ event.name }}</a> - {{ event.event_date | date_to_string }}<br>
            {{ event.time }}            
        </p>
        
    {% endfor %}
</div>