html {
    overflow-x: hidden;
}

.current {
    color: green;
}

strong {
    color: #B720B3;
}

img {
    width: 100%;
}

.logo {
    max-width: 250px;
    padding: 2em;
}

.york-logo {
    max-width: 150px;
}


h1, a {
    font-family: 'obvia', sans-serif !important;
}


p {
    font-size: 1.25em;
    line-height: 1.5em;
    letter-spacing: 2px;
}

.body {
    min-height: 100vh;
    
    h1 {
        color: #510C7F;
    }
}

.team-img {
    max-width: 250px;
}

// spectre.css
.hero {
    position: relative;
}

.hero:before {
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150%;
  height: 300%;
  opacity: 0.1;
  background-image: url('../images/DJR_BLACK_LOGO.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -999;
}

.hero-body {
    position: relative;
}

ul {
    li {
        p {
            display: inline;
        }
    }
}